body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px 0;
}

#home {
    background-color: #009688;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

#about, #projects, #contact {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    max-width: 800px;
    padding: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.project {
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea, form button {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    background-color: #009688;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #00796b;
}

#form-response {
    margin-top: 10px;
    font-size: 14px;
    color: #f00;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 3px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}
